@media screen and (max-width: 400px) {
    .portfolio_header h2 {
        font-size: 20px;
    }
    .portfolio_menu {
        padding-bottom: 30px;
      }
    .portfolio_menu ul li a {
        margin: 5px;
        font-size: 14px;
      }
      .portfolio_item_container .portfolio_item {
        flex-basis: 100%;
      }
      .portfolio_item_container .portfolio_item img {
        width: 100%;
        max-height: 200px;
      }
      .portfolio_item_container .portfolio_item p {
        margin-bottom: 30px;
      }     
}

@media (min-width: 401px) and (max-width: 768px) {
    .portfolio_menu ul li a {
        margin: 5px;
        font-size: 14px;
      }
    .portfolio_item_container .portfolio_item {
        flex-basis: 48%;
      }
      .portfolio_item_container .portfolio_item img {
        width: 100%;
        max-height: 200px;
      }

      .portfolio_item_container {
        column-gap: 10px;
      }
}

@media (min-width: 769px) and (max-width: 1000px) {

    .portfolio_item_container .portfolio_item {
        flex-basis: 45%;
      }
      .portfolio_menu ul li a {
        margin: 15px;
        font-size: 18px;
      }
      .portfolio_item_container .portfolio_item img {
        width: 100%;
        max-height: 250px;
      }
}

@media (min-width: 1001px) and (max-width: 1400px){
    
    .portfolio_menu ul li a {
        margin: 10px;
        font-size: 20px;
      }
      .portfolio_item_container .portfolio_item img {
        width: 100%;
        max-height: 250px;
      }
}
/* =========================my resume section responsive css starts from below============================================ */

@media screen and (max-width: 575px) {
  /* for extra small device my resume section */
  #resume {
    padding-top: 40px;
  }
  .resume_header {
    padding-bottom: 40px;
  }
  .resume_header2_left h2 {
    font-size: 18px;
}
  .resume_items {
    flex-basis: 90%;
  }
  .resume_items h6 {
    padding-left: 10px;
  }
  .resume_items h3 {
    font-size: 14px;
    font-weight: 200;
    padding-left: 10px;
  }
  .resume_items p {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    line-height: 20px;
  }
  
.resume_items span {
    padding-left: 10px;
    color: rgba(255,255,255,0.3);
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  /* for small device my resume section */
  .resume_items h6 {
    padding-left: 10px;
  }
  .resume_items h3 {
      font-size: 14px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
  }
  .resume_items p {
    padding-left: 10px;
    line-height: 22px;
  }
  .resume_items span {
    padding-left: 10px;
    color: rgba(255,255,255,0.3);
  }

}

